{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>my store</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
    rel="stylesheet" />

  <!-- feather icons -->
  <script src="https://unpkg.com/feather-icons"></script>

  <!-- My Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <!-- Navbar start -->
  <nav class="navbar">
    <a href="#" class="navbar-logo">LIZAM<span>STORE</span></a>

    <div class="navbar-nav">
      <a href="#home">Home</a>
      <a href="#about">Tentang Kami</a>
      <a href="#">Shop</a>
      <a href="#">Kontak</a>
    </div>

    <div class="navbar-extra">
      <a href="#" id="search"><i data-feather="search"></i></a>
      <a href="#" id="shopping-cart"><i data-feather="shopping-cart"></i></a>
      <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
    </div>
  </nav>
  <!-- Navbar end -->

  <!-- Hero section start -->
  <section class="hero" id="home">
    <main class="content">
      <h1>Selamat Datang Di Toko <span>Kami</span></h1>
      <p>Solusi Belanja Online Mudah Dan Terpercaya</p>
      <a href="#shop" class="cta">Beli Sekarang</a>
    </main>
  </section>
  <!-- Hero section end -->

  <!-- About section start-->
  <section id="about" class="about">
    <h2><span>Tentang</span> kami</h2>

    <div class="row">
      <div class="about-img">
        <img src="{% static 'img/bg-3.jpg' %}" alt="Tentang kami" />
      </div>
      <div class="content">
        <h3>Kenapa harus berbelanja di toko kami</h3>
        <p>
          Anda harus berbelanja di toko kami karena kami menawarkan beragam
          keuntungan yang akan meningkatkan pengalaman belanja Anda. Pertama,
          kami menyediakan berbagai produk berkualitas tinggi yang memenuhi
          kebutuhan Anda, mulai dari pakaian hingga peralatan rumah tangga,
          dengan pilihan yang beragam dan terus diperbarui.
        </p>
        <p>
          Selain itu, kami memberikan layanan pelanggan yang ramah dan
          profesional, siap membantu Anda dengan pertanyaan atau permintaan
          Anda. Seluruh produk kami juga dijamin kualitasnya, sehingga Anda
          dapat berbelanja dengan keyakinan. Terakhir, kami sering mengadakan
          penawaran khusus, diskon, dan promosi yang akan membantu Anda
          menghemat uang saat berbelanja di toko kami. Dengan semua keuntungan
          ini, kami yakin bahwa Anda akan merasa puas saat berbelanja di toko
          kami.
        </p>
      </div>
    </div>
  </section>
  <!-- About section end-->

  <!-- feather icons -->
  <script>
    feather.replace();
  </script>

  <!-- My Javascripts -->
  <script src="{% static 'js/script.js'%}"></script>
</body>

</html>